@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
    background-color: #EEEEEE;
    margin: 0px;
    text-align: center;
}

h1{
    font-size:24px;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 20px;
    background-color: black;
}

a{
    text-decoration:none;
    color: black
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #3E7C17;
    color: white;
    margin: 0px;
    font-size: 24px;
    align-items: center;
}

.logo{
    margin: 0px 20px;
    width: 55px;
    height: 55px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin-right: 15px;
}

li:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.menes{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.menes:hover{
    transform: scale(1.2);
    transition: 0.2s;
    color: white;
}

.pog{
    display: flex;
    text-align: center;
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 30px;
}

.perfil{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 0px auto;
    background-color: #3E7C17; 
    padding: 20px;
    border-radius: 16px;
    color: white;
    
}

.foto{
    width: 400px;
    aspect-ratio: 1;
}

#dale{
    display: flex;
    justify-content: space-around;
    font-size: 20px
}

#titulo{
    text-align: center;
}



.footer{
    background-color: #3E7C17;
    padding: 35px;
    align-items: center;
}

.videos{
    width: 65vw;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    margin-top: 2rem;
    
}

#copyright{
    text-align: center;
    color: white;
    flex-direction: row;
}

.contato{
    display:flex;
    gap: 3rem;
    justify-content: center;
}

.endereco{
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-size: 1.250rem;
}

.mapa{
    width: 35vw;
    aspect-ratio:16/9;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #4A314D88;
}

.contato{
    display: flex;
    justify-content: space-around;
}

input, textarea, button{
    width: 100%;
    margin-top: 1rem;
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem
}

input,textarea{
    border: 1px solid green;

}

button{
    display: flex;
    justify-content: center;
    background-color: tranparent;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;

}

